@reference "#config.css";

.button {
    --bg-color: blue;
    @apply text-white rounded;
    padding: 10px;
    background: var(--bg-color);

    @variant theme-midnight {
        @apply bg-gray-800;

        @variant hover {
            @apply bg-blue-700;
        }
    }
}
