@reference "#config.css";

$-bg-color: green;


.input {
  padding: 8px;
  background-color: $-bg-color;
    @apply text-white rounded;
  @apply border-4 border-red-500 rounded;


    @variant theme-midnight {
        @apply bg-gray-800;

        @variant hover {
            @apply bg-blue-700;
        }
    }
}
